.root {
  display: flex;

  .list {
    list-style: none;

    .item {
      &.active{
        background: #ccc;
      }
    }
  }

  .fixedButton {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
}
